/* For Font  */
.fira-sans-thin {
  font-family: "Fira Sans", serif;
  font-weight: 100;
  font-style: normal;
}

/* For Global Style */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Fira Sans", serif;
  /* max-width: 1600px; */
}

.btn-primary {
  background-color: rgb(0, 106, 80);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 8px;
  padding: 15px 32px;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 50px;
}
.btn-primary:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 106, 80);
  border: 2px solid rgb(0, 106, 80);
}

.font-h1 {
  color: rgb(14, 14, 14);
  font-family: "Fira Sans", serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}

.font-p {
  color: rgba(14, 14, 14, 0.7);
  font-family: "Fira Sans", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.width {
}

/* Main Css Start Here NavBar */

.nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin: 30px 160px;
}
.nav h1 {
  color: rgb(14, 14, 14);
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
}
.nav .sign-button {
  color: rgb(0, 106, 80);
  font-family: "Fira Sans";
  font-size: 18px;
  font-weight: 600;
  border: 1px solid rgb(0, 106, 80);
  border-radius: 8px;
  padding: 15px 30px;
}
.nav .sign-button:hover{
    background-color: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    transition: all 0.3s ease;
}
/* end nav bar  */



